<h3>All Projects</h3>

<%= link_to "Add New Project", "/projects/new" %>

<hr>
<% @projects.each do |project| %>
  <p>Product Name: <%= link_to project[:name], "/projects/#{project.id}" %></p>
  <p>Description: <%= project[:description] %></p>
  <p>$<%= project.goal %></p>
  <hr>
<% end %>